<!DOCTYPE html>
<html>
{% load staticfiles %}
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.9/p5.min.js"></script>
    <!--<script src="../static/connect_four/js/connect4.js"></script>-->
        <script src="{% static 'connect_four/js/connect4.js' %}"></script>


   <body onload="playerTurn();" style="background-color:#98FB98; text-align:center;">
      <h1>Lets play Connect 4!</h1>


       <div id = 'playerturn'></div>
      <div class="slot">{% block content %}{% endblock %}</div>

  </body>
</html>